.header-cont {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap:  wrap;
    align-items: flex-start;
    flex-direction: row;
    text-align: center;
    

}
.top-menu {
    
    width: auto;
    height: auto; 
    padding: 1em;
   
    align-content: center;
    flex: 1 1 auto;
}
.top-menu1 {
    background-color: rgba(144, 150, 93, 0.5);
}
.top-menu2 {
    background-color: rgba(144, 150, 93, 0.99);
}
h1 {
    font-family: sans-serif;
    font-size: 50px;
    font-weight: bold;
    color: dodgerblue;
}
.balti-burti {
    font-family: sans-serif;
    font-size: auto;
    font-weight: bold;
    color: white;
}
.zili-burti {
    font-family: sans-serif;
    font-size: auto;
    font-weight: bold;
    color: rgb(2, 2, 92);
}
.main-cont {
    width: 100%;
    height: 500px;
    background-color: green;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: row;
    
}

.left-side {
    width: 20%;
    
    background-color: indigo;
    padding: 10px;
}
.left-menu-cont  {
    height: 500px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: flex-start;
    flex-direction: column;
    text-align: start;

} 

#left-menu-items {
    width: 80%;
    /* height: auto;  */
    padding: 5%;
    margin: 5%;
    background-color: darkred;

}


.content {
    background-color: lightblue;
    width: 60%;
    height: 500px;
    padding: 1%;

}

.advert-block {
    width: 20%;
    height: 500px;
    background-color: lightcoral;
    padding: 1%;
}
    .advert {
        /* background-image: url("/cat.jpg"); */
        width: fit-content;      
    }

#footer {
    background-color: darkgoldenrod;
    padding: 10px;
}